<section class="top-container">
  <div class="content">
    <div class="title">Firebase API Calls!</div>
  </div>
</section>
<section class="middle-container">
  <div class="content">
    <h3>JSON GET Response:</h3>
    <div class="response"> {{getResponse}} </div>
  </div>
</section>
<section class="bottom-container">
  <div class="content" (click)="onBottomSectionClick()">
    <h3 class="clickableContent">JSON POST (Click to make post call) :</h3>
    <div class="response"> {{postResponse}} </div>
  </div>
</section>